<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CPS</display-name>
    <servlet>
        <servlet-name>All</servlet-name>
        <servlet-class>et.artisan.cn.cps.controllers.All</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>All</servlet-name>
        <url-pattern>/All</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Administrator</servlet-name>
        <servlet-class>et.artisan.cn.cps.controllers.Administrator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Administrator</servlet-name>
        <url-pattern>/Administrator</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry</servlet-name>
        <servlet-class>et.artisan.cn.cps.controllers.DataEntry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry</servlet-name>
        <url-pattern>/DataEntry</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Manager</servlet-name>
        <servlet-class>et.artisan.cn.cps.controllers.Manager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Manager</servlet-name>
        <url-pattern>/Manager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>et.artisan.cn.cps.util.listeners.ApplicationListener</listener-class>
    </listener>
    <listener>
        <listener-class>et.artisan.cn.cps.util.listeners.SessionListener</listener-class>
    </listener>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>et.artisan.cn.cps.util.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>et.artisan.cn.cps.util.filters.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/Administrator</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <servlet-name>Administrator</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/DataEntry</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <servlet-name>DataEntry</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/Manager</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <servlet-name>Manager</servlet-name>
    </filter-mapping>
	<resource-ref>
          <description>DB Connection</description>
          <res-ref-name>jdbc/cps</res-ref-name>
          <res-type>javax.sql.DataSource</res-type>
          <res-auth>Container</res-auth>
      </resource-ref>

</web-app>
